.container {
  display: grid;
  grid-template:
    repeat(auto-fit, minmax(33%, auto))
    / repeat(auto-fit, minmax(33%, auto));
  grid-auto-flow: dense;
  align-content: space-between;
  row-gap: 10px;
  column-gap: 30px;
}

.item {
  background-color: #8ca0ff;
}
